!!!
%html
  %head
    %title uberfavoritos!!!
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/bootstrap.min.css'}
    %script{:type => 'text/javascript', :src => 'javascripts/jquery-1.9.1.min.js'}
    %script{:type => 'text/javascript', :src => 'javascripts/underscore-min.js'}
    %script{:type => 'text/javascript', :src => 'javascripts/backbone-min.js'}
    %script{:type => 'text/javascript', :src => 'javascripts/bootstrap.min.js'}
    %script{:type => 'text/javascript', :src => 'javascripts/favorites.js'}
    :javascript
      $(function() {
        uber.favorites.init();
      });
  %body
    %script{:type => 'text/template', :id => 'favorite-template'}
      %div{:class => 'favorite-details', :style => 'clear: both; float: left'}
        %address
          %strong <%= name %>
          %br
          <%= address %>
        %button{:class => 'btn btn-primary', :id => 'edit-favorite'} Edit
        %button{:class => 'btn btn-warning', :id => 'delete-favorite', :'data-loading-text' => 'Deleting...'} Delete

    %h1 uberfavoritos

    %div{:id => 'favorites-view'}
      %h3 Your Favorites!
      %ul{:id => 'favorites-list'}

    %div{:id => 'add-favorite-view'}
    %label Name
    %input{:type => 'text', :name => 'favorite-name', :placeholder => 'Tartine'}
    %label Address
    %input{:type => 'text', :name => 'favorite-address', :placeholder => '600 Guerrero St, San Francisco, CA 94110'}
    %button{:class => 'btn btn-success', :id => 'add-favorite', :'data-loading-text' => 'Adding...'} Add
