<h4>Add Your Own Favorite</h4>
<div id='add-favorite-view'>
  <input class='text-fields' type='text' name='favorite-name' placeholder='Name' />
  <input class='text-fields' type='text' id='favorite-address' name='favorite-address' placeholder='Address' /><br />
  <button class='btn btn-success' id='add-favorite'>
    <i class='icon-plus-sign icon-white'> </i>
  </button>
</div>
